.h1 {
  width: 33%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px black;
  text-align: center;
}

.noUnderscore {
  text-decoration: none;
  color: white;
}

.ul {
  color: white;
  text-shadow: 2px 2px black;

  width: max-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.li {
  display: flex;
  /* justify-content: center; */
  margin: 20%;
}

.headerDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: baseline;
}

.routerDiv {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 33%;
}

.img{
  width: 8%;
  height: auto;
  filter: invert(100%);
}

.userCircle{
  /* flex: 2; */
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  
}
